@font-face
{
    font-family: 'Gotham-Book';
    src: local('Gotham-Book'),url('Gotham-Book.otf') format('opentype');
}

@font-face
{
    font-family: 'Gotham-Medium';
    src: local('Gotham-Medium'),url('Gotham-Medium.otf') format('opentype');
}

a {
    color: #16A4FA;
    text-decoration: none;
}
